<body>
    <header>
        <h2>Regexp Texter</h2>
    </header>
    <section>
       <h3>Input fields</h3>
       <span>String:</span> <input id="xID" type="text" size="20"><br>
       <span>RegExpObject: </span><input id="yID" type="text" size="20"><br>
       <button type="button" onclick="match()">Regex Test</button><br><br>
    </section>  
    <section>
        <h3>Output field</h3>
        Result:<p id="resultID"></p>
     </section>  
</body>